
/*---------------------------------------------------------------------------*/
/*video*/
#video{
    background-image:  url("imag/vie.gif");
}
#tav{
    margin-left: 50px;
    margin-top: 20px;
}
td{
    color:  floralwhite;
    text-align:  center;
    background-color: plum;
}

